@media (max-width: 1080px){

}

body{
  background: #031321;
  font-family: sans-serif;
}
.logo
{
  color:#2196f3;
  margin-left: -4%;
  margin-top: -50px;

  font-weight: bold;
  display: block;
  width: 20%;
  padding-left: 20px;
  height:40px;
  font-size: 30px;
  overflow: hidden;

}
.logo:hover
{
  color: red;
  background: #2196f3;
  box-shadow: 0 0 50px #2196f3, 0 0 10px #2196f3,
  0 0 100px #2196f3;
  transition-delay: 0.05s;
  transition: .5s;
  cursor: hand;
}
#menu{
  margin: ;
  padding: ;
  display: block;
  align-items: right;
  text-align:right;
  min-height: 100vh;
  background: #031321;
  font-family: sans-serif;

}
a{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.5s;
}
a:hover
{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3,
  0 0 10px #2196f3;
  transition-delay: 0.05s;
}
/* No need of this much fancy Things
span
{
  position: absolute;
  display: block;
}
a span:nth-child(1)
{
 top: 0;
 left: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent,#2196f3)
}
a:hover span:nth-child(1)
{
 left: 100%;
 transition: 1s;
}
a span:nth-child(3)
{
 bottom: 0%;
 right:-100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(270deg,transparent,#2196f3);
}
a:hover span:nth-child(3)
{
 right:  100%;
 transition: 1s;
 transition-delay:0.5s;
}
a span:nth-child(2)
{
 top: -100%;
 right: 0%;
 width: 2px;
 height: 100%;
 background: linear-gradient(180deg, transparent,#2196f3);
}
a:hover span:nth-child(2)
{
 top: 100%;
 transition: 1s;
 transition-delay: 0.25s;
}
a span:nth-child(4)
{
 bottom: -100%;
 left: 0%;
 width: 2px;
 height: 100%;
 background: linear-gradient(360deg, transparent,#2196f3);
}
a:hover span:nth-child(4)
{
 bottom:100%;
 transition: 1s;
 transition-delay: 0.75s;
}
*/


/* Trying Something New Here */

b{
  color: red;
font-family: sans-serif;
font-weight: bolder;
margin-left: %;
margin-right: 40%;
margin-bottom: 0%;
margin-top: 20%;
position: relative;
display: inline-block;
padding: 15px 30px;
text-transform: uppercase;
letter-spacing: 3px;
text-decoration: none;
font-size: 50px;
overflow: hidden;
transition: 2s;
}
b:hover
{
  color: purple;
  background: none;
  box-shadow: none;
  transition-delay: 0.05s;
  cursor:hand;
}



#intro
div_me
{
  position: absolute;
  display: block;
}
b div_me:nth-child(1)
{
 top: 0;
 left: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent,#2196f3)
}
b:hover div_me:nth-child(1)
{
 left: 100%;
 transition: 1s;
}
b div_me:nth-child(3)
{
 bottom: 0%;
 right:-100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(270deg,transparent,#2196f3);
}
b:hover div_me:nth-child(3)
{
 right:  100%;
 transition: 1s;
 transition-delay:0.5s;
}
b div_me:nth-child(2)
{
 top: -100%;
 right: 0%;
 width: 2px;
 height: 100%;
 background: linear-gradient(180deg, transparent,#2196f3);
}
b:hover div_me:nth-child(2)
{
 top: 100%;
 transition: 1s;
 transition-delay: 0.25s;
}
b div_me:nth-child(4)
{
 bottom: -100%;
 left: 0%;
 width: 2px;
 height: 100%;
 background: linear-gradient(360deg, transparent,#2196f3);
}
b:hover div_me:nth-child(4)
{
 bottom:100%;
 transition: 1s;
 transition-delay: 0.75s;
}
#intro_2
{
  color: #255784;
  text-shadow:none;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: -6px;
}
/* This is Copy */
#contact {
  padding: 100px 10px 100px 10px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto%;
}
.contact-section-header {
  font-size: 20px;
  color: #cfcfcf;
  margin-bottom: 10px;
}
.contact-links {
  margin-top: 20px;
}
.profile-link,
#profile-link {
  margin: 20px;
  color: #cfcfcf;
  text-decoration: none;
  text-align: center;
}

/* a:hover.profile-link,
a:hover#profile-link {
  color: #00ba96;
  transition: all 200ms linear 0ms;
}
*/
